body {
  background: rgb(30, 30, 102);
}
#quoteGenerator {
  color: white;
  font-size: 1.2rem;

}
#container {
  width: 300px;
  height: 400px;
  background: chocolate;
  margin: auto;
  border-radius: 5%;
}
button {
  cursor: pointer;
  height: 60px;
  width: 120px;
  text-transform: uppercase;
  background: green;
  color: white;
  font-size: 15px;
  border-radius: 10%;
}
button:hover {
  color: green;
  background: white;
}
.author {
  margin: auto;
  width: 300px;
  height: 50px;
  color: White;
  padding: 5px 5px 3px;
}
